/* Style for committee member images */
.author {
  display: flex;
  align-items: center;
}

.author__avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px; /* Adjust the margin to control the distance from the left */
}

/* Style for the names of committee members */
.author__name {
  margin: 0; /* Reset margin to ensure the names are close to the images */
}

/* Style for the horizontal line */
h2 + div {
  border: 0;
  border-top: 1px solid #ccc; /* Change the color and style of the divider as needed */
  margin-top: 20px; /* Adjust the margin to control the space between the h2 tag and the line */
}

@media print {
  body {
    margin: 20px; /* Adjust the margin to add space to the entire page when printing */
  }

  a {
    display: none;
  }
}
